<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>boss</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="https://ss0.bdstatic.com/-0U0bnSm1A5BphGlnYG/tam-ogel/7b7e004b6edacd394acdc13fc9713da4_121_121.jpg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.css">
    <link rel="stylesheet" href="http://m.sui.taobao.org/assets/css/demos.css">

</head>
<body>
<script>
    window.onload=function (ev) {
        var request = GetRequest();
        var name = request['bossName']
        console.log(name)
        document.getElementById("bossName").innerText = name;
        bossUrl = '/boss/getBossDetails?bossName='+name
        $.ajax({
            url:bossUrl,
            type:'get',
            dataType:'json',
            success:function(result){
                console.log(result)
                document.getElementById("bossName").innerText = name;
                document.getElementById("bossBlood").innerText = result['blood'];
            }
        })
    };
    function GetRequest() {
        var url1 = location.search; //获取url中"?"符后的字串
        var url = decodeURI(url1)
        console.log(url)
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            console.log(str)
            strs = str.split("&");
            console.log(strs.length)
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    var icount;
    var x = 1;
    function start() {
        if (x==1){
            icount=  setInterval("pk()","1000");
            x =2;
        }
    }
    function pk(bossName) {
        var myUrl = "/game/PK?bossName="+document.getElementById("bossName").innerText;
        $.ajax({
            url: myUrl,
            type: 'POST',
            dataType: "json",
            success: function (result) {

                document.getElementById("message").innerText = result['message'];
                var bossName = result['bossName'];
                var myBlood = result['myBlood'];
                var bossBlood = result['bossBlood'];
                var myBloodReduce = result['myBloodReduce'] ;
                var bossBloodReduce = result['bossBloodReduce'];
                document.getElementById("bossName").innerText = bossName;
                document.getElementById("bossBlood").innerText = bossBlood;
                document.getElementById("bossBloodReduce").innerText = "-"+bossBloodReduce;
                document.getElementById("myBloodReduce").innerText = "-"+myBloodReduce;
                document.getElementById("myBlood").innerText = myBlood;
                if (result['message']=='BOSS还未刷新') {
                    clearInterval(icount);
                    x=1;
                    return;
                }

            },
            err: function (status) {
                //
                window.location.href='/errorPage'
                console.log("失败");
            },
        });
    }
</script>
<div class="page-group">
    <div id="page-grid" class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="/demos">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title"></h1>
        </header>
        <div class="content" id=''>

            <div class="content-padded grid-demo">
                <h2 align="center" id="bossName"></h2>
                <div class="row no-gutter">
                    <div class="col-50">我的血量</div>
                    <div class="col-50">BOSS血量</div>
                    <div class="col-50" id="myBlood">10000</div>
                    <div class="col-50" id="bossBlood">10000000</div>
                </div>
                <div class="row no-gutter">
                    <div class="col-50" id="myBloodReduce">-0</div>
                    <div class="col-50" id="bossBloodReduce">-0</div>
                </div>
                <div class="row no-gutter">
                    <div class="col-100" id="message">999</div>
                    <div class="col-0"></div>
                </div>
                <div class="row">
                    <div class="col-50"><a href="#" class="button button-big button-fill button-danger">逃跑</a></div>
                    <div class="col-50"><a href="#" class="button button-big button-fill button-success" onclick="start()">砍它</a></div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.js' charset='utf-8'></script>
<script>$.init()</script>
</body>
</html>